<div class="dashboard-container">
    <h2 class="dashboard-title">Dashboard</h2>
    <div class="kanban-board">
      <!-- To Do Column -->
      <div class="kanban-column">
        <div class="column-header todo-header">
          <h4>TO DO</h4>
        </div>
        <div *ngFor="let task of todoTasks" class="task-card">
          <div class="card-content">
            <div class="task-icon">
                <img src="assets/todo.png" alt="User Icon" />

            </div>
            <div class="task-info">
              <h5 class="task-title">{{ task.title }}</h5>
              <p class="task-desc">{{ task.description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- In Progress Column -->
      <div class="kanban-column">
        <div class="column-header inprogress-header">
          <h4>IN PROGRESS</h4>
        </div>
        <div *ngFor="let task of inProgressTasks" class="task-card">
          <div class="card-content">
            <div class="task-icon">
                <img src="assets/inprogress1.png" alt="User Icon" />

            </div>
            <div class="task-info">
              <h5 class="task-title">{{ task.title }}</h5>
              <p class="task-desc">{{ task.description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Done Column -->
      <div class="kanban-column">
        <div class="column-header done-header">
          <h4>DONE</h4>
        </div>
        <div *ngFor="let task of doneTasks" class="task-card">
          <div class="card-content">
            <div class="task-icon">
                <img src="assets/check-mark.png" alt="User Icon" />
            </div>
            <div class="task-info">
              <h5 class="task-title">{{ task.title }}</h5>
              <p class="task-desc">{{ task.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  