<div class="dashboard-container">
    <h2 class="dashboard-title">Dashboard</h2>
    <div class="kanban-board">
      <!-- To Do Column -->
      <div class="kanban-column">
        <div class="column-header todo-header">
          <h4><i class="fa-solid fa-list-ul me-2"></i>To do</h4>
        </div>
        <div *ngFor="let task of todoTasks" class="task-card">
          <div class="card-content">
            <div class="task-icon">
              <i class="fa-solid fa-list-ul"></i>
            </div>
            <div class="task-info">
              <h5 class="task-title">{{ task.title }}</h5>
              <p class="task-desc">{{ task.description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- In Progress Column -->
      <div class="kanban-column">
        <div class="column-header inprogress-header">
          <h4><i class="fa-solid fa-bars-progress me-2"></i>In progress</h4>
        </div>
        <div *ngFor="let task of inProgressTasks" class="task-card">
          <div class="card-content">
            <div class="task-icon">
              <i class="fa-solid fa-bars-progress"></i>
            </div>
            <div class="task-info">
              <h5 class="task-title">{{ task.title }}</h5>
              <p class="task-desc">{{ task.description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Done Column -->
      <div class="kanban-column">
        <div class="column-header done-header">
          <h4><i class="fa-solid fa-circle-check me-2"></i>Done</h4>
        </div>
        <div *ngFor="let task of doneTasks" class="task-card">
          <div class="card-content">
            <div class="task-icon">
              <i class="fa-solid fa-circle-check"></i>
            </div>
            <div class="task-info">
              <h5 class="task-title">{{ task.title }}</h5>
              <p class="task-desc">{{ task.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  